.swp
.swo
.env
.DS_Store
auth.json
services.json
main
gin-bin
kushtaka
kushtaka.tar.gz
kushtaka.amd64
kushtaka.exe
kushtaka.darwin
kushtakad
kushtakad.tar.gz
kushtakad.amd64
kushtakad.exe
kushtakad.darwin
main-packr.go
packrd
data/
app/
build/
.idea/
.vscode/
.grifter/
**/*.log
**/*.db
**/*-packr.go
*.log
*.db

