{{ define "admin/partials/crumbs" }}
  {{ if len .Crumbs }}
    <nav class="nav-ie transparent small">
    <div class="col s12">
    {{ $length := len .Crumbs }}
        {{ range $k, $v := .Crumbs}}
            {{ if eq $length (plus1 $k) }}
              <a href="#!" class="breadcrumb">{{ $v.Name }}</a>
              {{ else }}
              <a href="{{ $v.Link }}" class="breadcrumb">{{ $v.Name }}</a>
            {{ end }}
    {{ end }}
    </div>
    </nav>
  {{ end }}

{{ end }}

