{{ define "admin/partials/head" }}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="{TODO: replace value from struct}">
    <meta name="author" content="{TODO: replace with value from struct}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/admin/images/favicon.png">


    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/admin/css/custom.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="/assets/admin/js/stars.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    </head>

{{ end }}