{{ define "admin/partials/navbar-desktop" }}

    <ul id='settings' class='dropdown-content'>
        <li><a href="/kushtaka/teams/page/1/limit/10">Teams</a></li>
        <li><a href="/kushtaka/users/page/1/limit/10">Users</a></li>
        <li><a href="/kushtaka/https">Https</a></li>
        <li><a href="/kushtaka/smtp">Smtp</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/kushtaka/logout">Logout</a></li>
    </ul>
    {{ if .State.AdminIsSetup }}
        {{ if .State.IsAuthd }}
            <li><a class="{{ .Links.Dashboard }}" href="/kushtaka/dashboard">Dashboard</a></li>
            <li><a class="{{ .Links.Tokens }}" href="/kushtaka/tokens/page/1/limit/100">Tokens</a></li>
            <li><a class="{{ .Links.Sensors }}" href="/kushtaka/sensors/page/1/limit/100">Sensors</a></li>
            <li><a class='dropdown-trigger' href='#' data-target='settings'><i class="material-icons right">arrow_drop_down</i>Settings</a></li>
        {{ else }}
            <li><a href="/login">Login</a></li>
        {{ end }}
    {{ else }}
        <li><a href="/setup">Setup</a></li>
    {{ end }}
{{ end }}