    <div class="flex-container">
        <form class="flex-item">
            <div class="article-textarea">
				<div class="form-group">
					<label for="exampleInputEmail1">Title</label>
                	<input class="form-control rounded" id="article-title" name="article-title" />
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Post</label>
                	<textarea id="article-body" name="article-body"></textarea>
				</div>
            </div>
        </form>
    </div>
