<html>
    {{ template "admin/partials/head" . }}
    <body>
        {{ template "admin/partials/navbar" . }}
        <br>
        <div class="container">
            {{ template "admin/partials/flash" . }}
            {{ template "admin/partials/crumbs" . }}
            <div class="row">
                <div class="row">
                </div>
                {{ yield }}
            </div>
        </div>
        {{ template "admin/partials/footer" . }}
    </body>
</html>