<div class="row">

    <form class="tform z-depth-1 col s12 m4 l4" method="post" action="/kushtaka/sensors">
        <div class="row">
            <h5 class="col">New Sensor</h5>
        </div>

        <div class="row">
            <div class="input-field col">
                <input id="name" type="text" name="name" value="{{ .Forms.Token.Name }}" required class="validate">
                <label for="name" data-error="example: devops-nyc-01" data-success="valid">Give the sensor a name/tag/ip etc</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col">
                <button class="waves-effect waves-light teal lighten-1 btn">Create</button>
            </div>
        </div>
    </form>

    <div class="col s12 m8 l8">
        {{ if len .Sensors }}
            {{ range $key, $sensor := .Sensors }}
                <div class="marjen valign-wrapper z-depth-1">
                    <h6><a class="tealo" href="/kushtaka/sensor/{{ $sensor.ID}}">{{ $sensor.Name }}</a></h6>
                </div>
            {{ end }}
        {{ end }}
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options = {classes:"select-tealo", dropdownOptions: {}});
    });

    $(document).ready(function(){
        $('select').formSelect();
    });
</script>