<div class="row">
    <div class="tform z-depth-1 col s12 m4 l4">

        <div class="row">
            <h5 class="col">Select Service</h5>
        </div>

        <div class="row">

            <div class="input-field col s8 m8 l8">
                <select id="service-type" name="type">
                    <option value="" disabled selected>---</option>
                    <option value="telnet">Telnet</option>
                    <option value="ftp">FTP</option>
                    <option value="ssh">SSH</option>
                </select>
           </div>

            <div class="input-field col">
                <button class="btn-floating btn-large waves-effect waves-light teal lighten-1" onclick="modalPop()">
                    <i class="material-icons">add</i>
                </button>
            </div>

        </div>
    </div>

    <div class="col s12 m8 l8">
        {{ if len .Sensor.Services }}
            {{ range $key, $service := .Sensor.Services }}
                <div class="marjen valign-wrapper z-depth-1">
                    <h6><a class="tealo" href="/kushtaka/sensor/{{ $service.Type }}">{{ $service.Type }}</a></h6>
                </div>
            {{ end }}
        {{ end }}
    </div>

    <input hidden id="sensor_id" type="text" name="sensor_id" value="{{ .Sensor.ID }}" disabled class="validate">
    <input hidden id="type" type="text" name="type" value="telnet" disabled class="validate">

    <!-- Telnet Modal Structures -->
    <div id="telnet-modal" class="modal-gap modal">
        <div class="modal-content">

                <div class="row">
                    <h5 class="col">Add Telnet Service</h5>
                </div>

                <div class="row">
                    <div class="input-field col s2">
                        <input id="telnet-port" type="text" name="port" value="" required class="validate">
                        <label for="port" data-error="example: telnet, ssh, ftp" data-success="valid">Port</label>
                    </div>
                </div>
        
                <div class="row">
                    <div class="input-field col">
                        <select name="telnet-emulate">
                            <option value="" disabled selected>---</option>
                            <option value="telnet">Telnet</option>
                        </select>
                        <label for="emulate" data-error="example: telnet, ssh, ftp" data-success="valid">What kind of telnet server should we emulate?</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col">
                        <button onclick="postData('telnet')" class="waves-effect waves-light teal lighten-1 btn">Submit</button>
                    </div>
                </div>

        </div>
    </div>
</div>

<script>


    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });

    $(document).ready(function(){
        $('select').formSelect();
    });


    function modalPop() {
        var el = document.getElementById("service-type");
        var type = el.options[el.selectedIndex].value;

        modalType = type + "-modal"; 
        var modalElement = document.getElementById(modalType);
        var instance = M.Modal.getInstance(modalElement);
        instance.open();
    }

    function postData(serviceType) {
        console.log(serviceType)
        var url = 'http://localhost:3000/kushtaka/service';
        var data = {sensorId: 1, type: serviceType, port: 23, emulate: 'basic'};

        fetch(url, {
        method: 'POST', // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers:{
            'Content-Type': 'application/json'
        }
        }).then(res => res.json())
        .then(response => console.log('Success:', JSON.stringify(response)))
        .catch(error => console.error('Error:', error));
    }

</script>