<div class="row">
    <div class="col s12 m12 l12">
        <form class="tform z-depth-1" method="post" action="/kushtaka/smtp">

            <div class="row">
                <h5 class="col s12 m12 l12">SMTP</h5>
            </div>

            <div class="row">
                <div class="input-field col s12 m6 16">
                    <input id="sender" type="text" name="sender" value="{{ .Forms.Smtp.Sender }}">
                    <label for="sender" data-error="example: Admin" data-success="valid">Sender's Name</label>
                </div>

                <div class="input-field col s12 m6 16">
                    <input id="email" type="email" name="email" class="validate" value="{{ .Forms.Smtp.Email }}">
                    <label for="email">Email</label>
                </div>

                <div class="input-field col s12 m9 19">
                    <input id="host" type="text" name="host" value="{{ .Forms.Smtp.Host }}">
                    <label for="host" data-error="example: kushtaka.example.com" data-success="valid">Host</label>
                </div>

                <div class="input-field col s12 m3 13">
                    <input id="port" type="text" name="port" value="{{ .Forms.Smtp.Port }}">
                    <label for="port" data-error="example: kushtaka.example.com" data-success="valid">Port</label>
                </div>

                <div class="input-field col s12 m12 112">
                    <input id="username" type="text" name="username" value="{{ .Forms.Smtp.Username }}">
                    <label for="username" data-error="required: 12 characters" data-success="valid">Username</label>
                </div>

                <div class="input-field col s12 m12 112">
                    <input id="password" type="password" name="password" value="{{ .Forms.Smtp.Password }}">
                    <label for="password" data-error="required: 12 characters" data-success="valid">Password</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m8 18">
                    <button class="waves-effect waves-light teal lighten-1 btn">Save</button>
                    <a id="send-test" onclick="postTestEmail()" class="waves-effect waves-light lighten-1 btn">Send Test <i
                            class="material-icons right">send</i></a>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="col s12 m6 l6"></div>


<script>


    var uri = "{{ .URI }}/kushtaka/smtp/";
 
    $(document).ready(function () {
        checkFill();
        document.addEventListener('keydown', checkFill);
    });


    function getForm() {
        return {
            email: document.getElementById("email").value,
            send: document.getElementById("sender").value,
            host: document.getElementById("host").value,
            port: document.getElementById("port").value,
            username: document.getElementById("username").value,
            password: document.getElementById("password").value
        };
    }
    function formFilled() {

        var isFilled = true;
        var form = getForm();

        for (var key in form) {
            if (form[key].length === 0) {
                isFilled = false
            }
        };

        return isFilled
    }

    function checkFill() {
        var cont = "send-test";
        var color = "teal";
        if (formFilled()) {
            var st = document.getElementById(cont);
            st.classList.remove("disabled");
            st.classList.add(color);
        } else {
            var st = document.getElementById(cont);
            st.disabled = true;
            st.classList.add("disabled");
            st.classList.remove(color);
        }
    }


    function postTestEmail(type) {
        var url = uri + "test";
        var data = getForm();
        M.toast({html: "Trying to send...", classes: 'orange lighten-1'})

        console.log(data);
        postData(data, url, type);
    }


    function postData(data, url, type) {
        fetch(url, {
        method: 'POST', // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers:{
            'Content-Type': 'application/json'
        }
        }).then(res => res.json())
        .then(response => respFunc(response))
        .catch(error => errc(error));
    }


    function respFunc(resp) {
        if (resp.Status === "success") {
            M.toast({html: resp.Message , classes: 'green lighten-1'})
        } else {
            M.toast({html: resp.Message , classes: 'red lighten-1'})
        }
    }

    function errc(err) {
        M.toast({html: err, classes: 'red lighten-1'})
        console.error('Error:', err);
    }
</script>