<div class="row">

    <div class="col s12 m4 l4">

    <form class="marjen z-depth-1" method="post" action="/kushtaka/users">
        <div class="row">
            <h5 class="col">New User</h5>
        </div>

        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input id="email" type="text" name="email" value="{{ .Forms.User.Email }}" required class="validate">
                <label for="email" data-error="example: jane@example.com" data-success="valid">Email</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input id="password" type="text" name="password" value="{{ .Forms.User.Password }}" required class="validate">
                <label for="password" data-error="" data-success="valid">Password</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <input id="password_confirm" type="password" name="password_confirm" value="{{ .Forms.User.PasswordConfirm }}"required class="validate" length="64" pattern=".{12,}">
              <label for="password_confirm" data-error="required: 12 characters" data-success="valid">Password Confirm</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col">
                <button class="waves-effect waves-light teal lighten-1 btn">Create</button>
            </div>
        </div>
    </form>
    </div>

    <div class="col s12 m8 l8">
        {{ if len .Users }}
            <div class="marjen z-depth-1">
                <h5>Users List</h5>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{ range $key, $v := .Users }}
                            <tr>
                                <td>{{ $v.Email }}</td>
                                <td><a class="btn-floating waves-effect waves-light teal lighten-1" onclick="updateServiceModal({ ID: {{ $v.ID }} email: {{ $v.Email }} } )"><i class="material-icons">settings</i></a></td>
                                <td><a class="btn-floating waves-effect waves-light teal lighten-1" onclick="deleteServiceModal({ ID: {{ $v.ID }} email: {{ $v.Email }} } )"><i class="material-icons">delete_sweep</i></a></td>
                            </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        {{ end }}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options = {classes:"select-tealo", dropdownOptions: {}});
    });

    $(document).ready(function(){
        $('select').formSelect();
    });
</script>