<div class="row">

    <form class="tform z-depth-1 col s12 m4 l4" method="post" action="/kushtaka/tokens">
        <div class="row">
            <h5 class="col">New User</h5>
        </div>

        <div class="row">
            <div class="input-field col">
                <input id="firstname" type="text" name="firstname" value="{{ .Forms.Token.Name }}" required class="validate">
                <label for="firstname" data-error="example: jane" data-success="valid">First Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col">
                <input id="lastname" type="text" name="lastname" value="{{ .Forms.Token.Name }}" required class="validate">
                <label for="lastname" data-error="example: jane" data-success="valid">Last Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col">
                <input id="email" type="text" name="email" value="{{ .Forms.Token.Name }}" required class="validate">
                <label for="email" data-error="example: jane@example.com" data-success="valid">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col">
                <input id="password" type="text" name="name" value="{{ .Forms.Token.Name }}" required class="validate">
                <label for="password" data-error="" data-success="valid">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col">
                <button class="waves-effect waves-light teal lighten-1 btn">Create</button>
            </div>
        </div>
    </form>

    <div class="col s12 m8 l8">
        {{ if len .Tokens }}
            {{ range $key, $token := .Tokens }}
                <div class="marjen valign-wrapper z-depth-1">
                    <h6><a class="tealo" href="/kushtaka/token/{{ $token.ID}}">{{ $token.Name }}</a></h6>
                </div>
            {{ end }}
        {{ end }}
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options = {classes:"select-tealo", dropdownOptions: {}});
    });

    $(document).ready(function(){
        $('select').formSelect();
    });
</script>