.modal-gap {
  width: 30%;
}

#settings {
  background-color: black;
}
.dropdown-content li > a, .dropdown-content li > span {
  font-size: 14px;
  color: white;
}

.dropdown-content li:hover, .dropdown-content li.active {
  background: none;
}

.brand-logo {
  text-align: center;
}

nav .nav-wrapper {
  margin-top: -120px;
}

.tform {
  padding: 30px;
}

a.tealo {
  color: #0894b0;
}

a:hover.tealo {
  color: #04a2c2;
  text-shadow: 0px 2px 20px rgb(172, 172, 172);
}

nav a {
  color: #fff;
}

nav ul a {
  color: #fff;
}

.select-tealo > .dropdown-content li > a, .dropdown-content li > span {
  color: #000;
}

nav ul li a.active {
  text-decoration: underline;
}

nav ul a:hover {
  background:rgba(12, 213, 253, 0.7);
}

.brand-logo-svg {
  min-width: 120px;
  border: 0;
  width: 50px;
}

nav .brand-logo {
  color: #fff;
  padding: 20px;
}

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;

}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;

}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;

}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

/* D3.js jared */
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.teal.lighten-1 {
  background-color: #0894B0 !important;
}

.navbar-fixed .black {
  height: 120px !important;
  line-height: 120px !important;
}

.navbar-fixed {
  height: 64px;
  margin-bottom: 80px;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 64px;
  line-height: 120px;
}

input:not([type]):focus:not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #0894B0;
  box-shadow: 0 1px 0 0 #0894B0;
}

input:not([type]):focus:not([readonly]) + label, input[type="text"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="date"]:focus:not([readonly]) + label, input[type="datetime"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="search"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #0894B0;
}


.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  @-webkit-keyframes bounce {
    0% { -webkit-transform: translateY(0); }
    50% { -webkit-transform: translateY(-7px); }
    100% { -webkit-transform: translateY(0); }
  }
  @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-7px); }
    100% { transform: translateY(0); }
  }
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }

#all-ripples {
  z-index: -9999;
  opacity: 0.15;
}

.ripple {
    z-index: -999;
    position: absolute;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    perspective: 80;
    top: 6px;
    left: -62px;
    transform: rotateX(70deg);
  }
  
  .ripple .ripple-svg {
    position: absolute;
    width: 168px;
    height: 186px;
    opacity: 0.0;
  }
  
  .ripple .ripple-svg circle {
     stroke: rgba(255, 255, 255, 0.55);
     stroke-width: 20px;
  }

  .ripple-1 {
    animation: ripple 3s cubic-bezier(0.90, 0.0, 0.0, 0.90) 0.05s infinite;
  }
  
  .ripple-1 .ripple-svg {
    animation: fade-in-out 3s linear 0.05s infinite;
  }
  
  .ripple-1 .ripple-svg circle {
    animation: border 3s cubic-bezier(0.90, 0.20, 0.20, 0.90) 0.05s infinite;
  }
  
  .ripple-2 {
    animation: ripple 3s cubic-bezier(0.90, 0.40, 0.40, 0.90) 0.15s infinite;
  }
  
  .ripple-2 .ripple-svg {
    animation: fade-in-out 3s linear 0.15s infinite;
  }
  
  .ripple-2 .ripple-svg circle {
    animation: border 3s cubic-bezier(0.90, 0.30, 0.30, 0.90) 0.15s infinite;
  }
  
  .ripple-3 {
    animation: ripple 3s cubic-bezier(0.90, 0.50, 0.50, 0.90) 0.25s infinite;
  }
  
  .ripple-3 .ripple-svg {
    animation: fade-in-out 3s linear 0.25s infinite;
  }
  
  .ripple-3 .ripple-svg circle {
    animation: border 3s cubic-bezier(0.90, 0.50, 0.50, 0.90) 0.25s infinite;
  }
  
  @keyframes fade-in-out {
    0% {opacity: 0}
    42% {opacity: 0}
    62% {opacity: 0}
    72% {opacity: 1}
    92% {opacity: 0}
    100% {opacity: 0}
  }
  
  @keyframes ripple {
    0% { transform: rotateX(70deg) scale3d(0.3, 0.3, 0.3) }
    100% { transform: rotateX(70deg) scale3d(0.9, 0.9, 0.9) }
  }
  
  @keyframes border {
    0% { stroke-width: 1px }
    100% {stroke-width: 2px }
  }

  .marjen {
    padding: 20px;
    margin-bottom: 10px;
  }

.nav-ie {
  width: 100%;
  margin-top: -36px;
  padding-left: 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.breadcrumb {
  font-size: 14px;
  color: black;
}

.breadcrumb:hover {
  color: #0894b0;
}

.breadcrumb:last-child {
  color: black;
}

.breadcrumb:last-child:hover {
  color: #0894b0;
}

.breadcrumb::before {
  color: black;
  font-size: 14px;
  margin-top: 1px;
}